<div class="row" ng-controller="emailCtrl" class="center-block">
    <form ng-submit="sendEmail()" name="share" class="col-sm-12">
        <div class="form-group required {{validEmail}}">
            <label for="">
                To:
            </label>
            <input type="email" 
                   class="form-control" 
                   ng-model="shareEmail" 
                   placeholder="Email"
                   value=''>

            <span id="helpBlock" 
                  class="help-block">
                    {{errorEmail}}
            </span>
        </div>

        <div class="form-group">
            <label for="">
                Optional Message:
            </label>
            <textarea class="form-control" 
                      rows="3"
                      ng-model="shareMessage"></textarea>
        </div>

        <div class="form-group">
            <label for="">
                
            </label>
            <button type="submit" 
                    class="btn btn-primary pull-right">
                        Send
            </button>
        </div>

    </form>
</div>